<mat-spinner *ngIf="isLoading"></mat-spinner>
<cdk-virtual-scroll-viewport itemSize="100" class="container">
    <mat-card *cdkVirtualFor="let post of posts" class="example-card mat-elevation-z2">
      <label class="created">First created: {{post.timeCreated}}</label>
      <mat-card-title class="title">
        {{ post.title }}
       </mat-card-title>
      <div class="post-image">
        <img mat-card-image [src]="post.imagePath" [alt]="post.title">
      </div>
      <mat-card-content class="content">
        <p>{{ post.content }}</p>
      </mat-card-content>
      <mat-action-row *ngIf="userIsAuthenticated && userId === post.creator">
        <a mat-button color="accent" [routerLink]="['/edit', post.id]">EDIT</a>
        <button mat-button color="warn" (click)="onDelete(post.id)">DELETE</button>
      </mat-action-row>
      <mat-action-row>
        <button *ngIf="userIsAuthenticated" mat-icon-button class="heart" [ngClass]="{'active': isActive}">
          <mat-icon>favorite</mat-icon>
      </button>
      <label>{{post.likes}}</label>
      </mat-action-row>
    </mat-card>
  </cdk-virtual-scroll-viewport>
<p class="info-text mat-body-1" *ngIf="posts.length <= 0 && !isLoading">No posts added yet!</p>
